body{
    margin: 0px;
    padding: 0px;
}
.div-pai {
    background-color: #382775;
    weight: 100vh;
    height: 100vh;
}

.font {
    font-family: 'Averia Libre', sans-serif;
}

.logo {
    color: white;
    font-family: 'Averia Libre', sans-serif;
    font: Averia Libre;
    font-size: 40px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    padding: 10px;
}

.text {
    color: white;
    font-size: 24px;
}

.main{
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 80%;
    border: solid;
    border-radius: 1px;
    border-color: #737373;
    border-radius: 15px;
}

.box{
    width: 424px;
    height: 39;
}

.btn{
    color: white;
    background-color: #37BD6D;
    width: 134px;
    height: 40px;
    border-radius: 10px;
}

.Alinhar{
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: self-end;
}

.aviso{
    color: #FD7979;
    font-size: 18px;
}