body{
    margin: 0px;
    padding: 0px;
    font-family: 'Averia Libre', cursive;
}
.div-pai {
    background-color: #382775;
    width: 100%;
    height: 100vh;
}

.logo {
    color: white;
    font-family: 'Averia Libre', sans-serif;
    font: Averia Libre;
    font-size: 40px;
}

.sair {
    color: #3F92C5;
    font: Averia Libre;
    font-size: 20px;
}

.apagar{
    color:#F57F7F;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    padding: 10px;
}

.alinha-apagar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Apagar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    color: white;
    font-size: 24px;
}

.alinha-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 80vh;
    width: 80vh;
    line-height: 0px;
    border: solid;
    border-color: #737373;
    border-radius: 15px;
}

.Espacar {
    width: 90%;
  }
  
.text{
    color: white;
    font-size: 36px;
}

.box{
    width: 100%;
    height: 39px;
}

.box-i{
    width: 400px;
    height: 39px;
}

.imagem-input {
    display: none;
}

.imagem-label {
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: #A4A4A4;
    color: white;
    width: 150px;
    height: 27px;
    line-height: 27px;
    font-size: 16px;
}

.Alinhar{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn{
    color: white;
    background-color: #37BD6D;
    width: 134px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    font-family: 'Averia Libre', cursive;
}

.sublinhado{
    text-decoration: none;
}