body{
    margin: 0px;
    padding: 0px;
    font-family: 'Averia Libre', cursive;
}

.div-pai {
    background-color: #382775;
    width: 100%;
    height: 100vh;
}

.logo {
    color: white;
    font-family: 'Averia Libre', sans-serif;
    font: Averia Libre;
    font-size: 40px;
}

.main{
    padding-left: 10px;
    padding-right: 10px;
}

.sair {
    color: #3F92C5;
    font: Averia Libre;
    font-size: 20px;
}

.carrocel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.pesquisa{
    height: 271px;
    width: 238px;
    background-color: #FFF;
    margin: 10px;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    padding: 10px;
}

.lupa{
    width: 24px;
}

.box{
    width:97%;
    heigt: 36px;
}

.btn{
    color: white;
    background-color: #37BD6D;
    width: 134px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Averia Libre', cursive;
}

.text{
    color: #3F92C5;
    font-size: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.data{
    color: #8B8B8B;
    font-size: 16px;
}

.sublinhado{
    text-decoration: none;
}